atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
coverage==4.5.2
Flask==1.0.2
-e git+https://github.com/wildlyclassyprince/flask-tutorial.git@3621d5a0e345aa8e525ffbde9b69d32239e0062d#egg=flaskr
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pytest==4.0.1
six==1.11.0
Werkzeug==0.14.1
